* {
	margin: 0;
	padding: 0;
}

html {
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
	user-select: none;
}

canvas {
	image-rendering: pixelated;
	outline: none;
}

#info {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	padding: 5px;
	pointer-events: none;
	line-height: 1.5em;
}

#info, #info a {
	color: white;
}

#info a {
	pointer-events: all;
}

#credits {
	position: absolute;
	bottom: 0;
	left: 0;
	color: white;
	font-size: 12px;
	opacity: 0.5;
	padding: 5px;
	line-height: 1.25em;
}

.light #info, .light #info a, .light #credits {
	color: #234;
}
